// Color Palette
$color-background: #000;
$color-text: #121212;
$color-primary: #bb86fc;
$color-link: #e0e0e0;
$color-link-hover: #bb86fc;
$color-header-bg: #121212;
$color-footer-bg: #333;

// Font Styling
$font-primary: "Arial", sans-serif;
